body{
    margin: 0;
    font-family: Arial, sans-serif; 
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    background: #F8F7F7; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);
    z-index: 3;
}
.header_to_left{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: left;
}

.header_to_right{
    display: flex;
    width: 50%;
    height: 15vh;
    align-items: center;
    justify-content: right;
}
.logo-header{
    color: black; 
    font-size: 15px; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    word-wrap: break-word;
    margin-left: 30px;
}
.login-button{
    border-radius: 5px;
    background: #A7B1EA;
    border: none;
    outline: none;
    display: flex;
    margin-right: 30px;
    height: 20px;
    width: 15%;
    font-size: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
footer{
    width:100%;
    background-color: #F8F7F7; 
    position: absolute;
    display: flex;
    font-size: 10px;
    justify-content: center;
}
.footer-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
}
.footer-column p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.main-background{
    width: 100%;
    min-height: 85vh;
    background-color: #A7D2EA;
    display: flex;
    flex-direction: row;
}

/* index.html */

.main-left{
    width:35%;
    margin-left:10%;
    margin-right:5%;
    margin-top: 5%;
}

.main-right{
    width:35%;
    margin-left:5%;
    margin-right:10%;
    margin-top:5%;
}

.outter-add-block{
    height: 40vh;
}

.add-block{
    background-color: #F8F7F7;
    width: 80%;
    height:30px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height:100%;
}
ion-icon{
    width: 100%;
    height: 80%;
    color: #A7D2EA;
}

.add-text{
    width: 80%;
    text-align: left;
}

.outter-signup-button{
    width: 80%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-button{
    width: 45%;
    min-height: 25px;
    background: #A7B1EA;
    border-radius: 5px; 
    border: none;
    outline: none;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flashcards{
    height: 40vh;
}

.flashcard-white{
    position: absolute;
    display: flex;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    background: #F8F7F7;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.flashcard-blue{
    position: relative;
    display: flex;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    background: #A7B1EA;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: rotate(5deg) translate(20px, 20px);
}

.page-name{
    font-size: 40px;
    font-weight: 300;
    margin-top: 15%;
}

/* login.html */

.form-box{
    width: 35vw;
    min-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    background: #F8F7F7;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form-title{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
}

.form-line{
    background-color: #A7B1EA;
    height: 2px;
    width: 25%;
    border: none;
    margin: 0;
}

.username-input{
    width: 100%;
    background: #F8F7F7;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.username-input:focus{
    outline: none;
}

.password-input{
    width: 100%;
    background: #F8F7F7;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.password-input:focus{
    outline: none;
}

.btn{
    border-radius: 5px;
    background: #A7B1EA;
    border: none;
    outline: none;
    display: flex;
    margin: auto;
    margin-top: 15px;
    height: 20px;
    width: 40%;
    font-size: 12px;
    font-weight: 300px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.create-account{
    font-size: 12px;
    color: #000;
    margin-bottom: 20px;
    max-width: 90%;
}