{% extends 'base.html' %}

{% block head %}
<title>Zmiana hasła</title>
{% endblock %}

{% block body %}
    <div class="form-box">
        <p class="form-title">Zmiana hasła</p>
        <hr class="form-line">
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="login-error">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form class="change-password-form" method="post">
            <p class="input-label"><b>Stare hasło:</b></p>
            <div class="input-field"><input type="password" placeholder="Stare hasło" name="old_password" class="password-input" value="{{ request.form.old_password}}"><ion-icon onclick="showPassword(this)" class="eye-outline" name="eye-outline"></ion-icon><ion-icon onclick="hidePassword(this)" class="eye-off-outline" name="eye-off-outline"></ion-icon></div>
            <p class="input-label"><b>Nowe hasło:</b></p>
            <div class="input-field"><input type="password" placeholder="Nowe hasło" name="new_password" class="password-input" value="{{ request.form.new_password}}" minlength="5"><ion-icon onclick="showPassword(this)" class="eye-outline" name="eye-outline"></ion-icon><ion-icon onclick="hidePassword(this)" class="eye-off-outline" name="eye-off-outline"></ion-icon></div>
            <p class="input-label"><b>Powtórz nowe hasło:</b></p>
            <div class="input-field"><input type="password" placeholder="Nowe hasło" name="new_password_repeat" class="password-input" value="{{ request.form.new_password_repeat}}"><ion-icon onclick="showPassword(this)" class="eye-outline" name="eye-outline"></ion-icon><ion-icon onclick="hidePassword(this)" class="eye-off-outline" name="eye-off-outline"></ion-icon></div>
            <input class="btn" type="submit" name="submit" value="Zmień">
        </form>
    </div>
{% endblock %}
