{% extends 'base.html' %}

{% block head %}
<title>{{table_name}}</title>
{% endblock %}

{% block body %}
<div class="popup-background">
    <div class="settings-popup">
        <div class="settings-close"><button onclick="closeInfo()"><ion-icon name="close-outline"></ion-icon></button></div>
        <p>Czy na pewno chcesz wypisać się z kursu: <br>{{table_name}}?</p>
        <div style="display:flex"><form method="post" action="/leave-course-{{moduleID}}"><button>Tak, wypisz mnie</button></form><button onclick="closeInfo()">Nie, uczę się dalej</button></div>
    </div>
</div>
<div class="panel-background">
    <div class="flashcards-panel">
        <h3 class="module-title">{{table_name}}</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="login-error">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <div class="flashcards-content">
            <div class="flashcards-display">
                <div class="flashcard-outter">
                    <div class="flashcards-slideshow">
                        {% set i = 0 %}
                        {% for row in flashcards %}
                        <div class="card" id="card-{{i}}">
                            <div class="front">
                                <p>{{row[1]}}</p>
                            </div>
                            <div class="back">
                                <p>{{row[2]}}</p>
                            </div>
                        </div>
                        {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                </div>
                <div><button onclick="PreviousFlashcard()" id="prev-flashcard" disabled><ion-icon name="caret-back-outline"></ion-icon></button></ion-icon><button onclick="NextFlashcard()" id="next-flashcard"><ion-icon name="caret-forward-outline"></ion-icon></button></div>
            </div>
            {% if hide == False %}
            <div>
                <button onclick="location.href='/signup-to-course-{{moduleID}}'">Zapisz mnie</button>
            </div>
            {% else %}
            <div class="learning-options">
                <a href="/module_id={{moduleID}}-quiz" class="activity-type">Quiz</a>
                <a href="/module_id={{moduleID}}-writing" class="activity-type">Pisanie</a>
                <a href="/module_id={{moduleID}}-listening" class="activity-type">Słuchanie</a>
                <a href="/module_id={{moduleID}}-speaking" class="activity-type">Mówienie</a>
            </div>
            {% endif %}
        </div>
        {% if hide == True %}<div class="remove-course" onclick="showInfo()"><ion-icon name="trash-outline"></ion-icon>Wypisz mnie z kursu</div>{% endif %}
    </div>
    <script src="{{url_for('static', filename='javascript/flashcard.js')}}"></script>
</div>
{% endblock %}