{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<div class="main-left">
    <div class="outter-add-block">
        <div class="add-block">
            <div class="circle-box">
                <ion-icon name="ellipse"></ion-icon>
            </div>
            <p class="add-text">Zawsze pod ręką</p>
        </div>
        <div class="add-block">
            <div class="circle-box">
                <ion-icon name="ellipse"></ion-icon>
            </div>
            <p class="add-text">Zweryfikowane treści</p>
        </div>
        <div class="add-block">
            <div class="circle-box">
                <ion-icon name="ellipse"></ion-icon>
            </div>
            <p class="add-text">Przystępna forma nauki</p>
        </div>
    </div>
    <div class="outter-signup-button">
        <a class="signup-button" href="/signup"><strong>Zarejestruj się</strong></a>
    </div>
</div>
<div class="main-right">
    <div class="flashcards">
        <div class="flashcard-white"></div>
        <div class="flashcard-blue"></div>
    </div>
    <div class="page-name">FiszkoMania</div>
</div>
{% endblock %}