{% extends 'base.html' %}

{% block head %}
<title>Login Page</title>
{% endblock %}

{% block body %}
    <div style="margin: auto; width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <h1>Zaloguj się</h1>
        <br>
        <form method="post">
            <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}"><br>
            <input type="password" placeholder="Password" name="password" value="{{ request.form.password}}"><br>
            <input class="btn" type="submit" name="submit" value="Login">
        </form>
        <br>
        <a style="color: black;" href="/signup">Nie masz jeszcze konta? Zarejestruj się!</a>
    </div>
{% endblock %}
