{% extends 'base.html' %}

{% block head %}
<title>Rejestracja</title>
{% endblock %}

{% block header %}
<div class="header_to_right"><button class="login-button" onclick="location.href='/login'">ZALOGUJ</button></div>
{% endblock %}

{% block body %}
    <div class="form-box">
        <p class="form-title">Rejestracja</p>
        <hr class="form-line">
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="login-error">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="post" style="width:90%">
            <div style="width:100%"><input type="text" placeholder="Nazwa użytkownika" name="username" class="username-input" value="{{ request.form.username }}" minlength="3"></div>
            <div class="input-field"><input type="password" placeholder="Hasło" name="password" class="password-input" value="{{ request.form.password}}" minlength="5"><ion-icon onclick="showPassword(this)" class="eye-outline" name="eye-outline"></ion-icon><ion-icon onclick="hidePassword(this)" class="eye-off-outline" name="eye-off-outline"></ion-icon></div>
            <div class="input-field"><input type="password" placeholder="Powtórz hasło" name="password_repeat" class="password-input" value="{{ request.form.password_repeat}}"><ion-icon onclick="showPassword(this)" class="eye-outline" name="eye-outline"></ion-icon><ion-icon onclick="hidePassword(this)" class="eye-off-outline" name="eye-off-outline"></ion-icon></div>
            <input class="btn" type="submit" name="submit" value="Zarejestruj">
        </form>
    </div>
{% endblock %}