{% extends 'base.html' %}

{% block head %}
<title>Mówienie - {{table_name}}</title>
{% endblock %}

{% block body %}
<div class="popup-background">
    <div class="settings-popup">
        <div class="settings-close"><button onclick="closeInfo()"><ion-icon name="close-outline"></ion-icon></button></div>
        <p>W tym trybie nie ma możliwości zmiany języka</p>
    </div>
</div>
<div class="panel-background">
    <div class="flashcards-panel">
        <div class="back-to-menu">
            <a href="/module_id={{module_id}}" class="back-button"><ion-icon name="chevron-back-circle-outline"></ion-icon></a>
            <h4 class="module-title-2">{{table_name}} - speaking</h4>
            <button onclick="showInfo()"><ion-icon name="information-circle-outline"></ion-icon></button>
        </div>
        <div class="flashcard-learn">
            <div class="word-card"></div>
            <div class="user-answer">
                <p id="spoken-text"></p><button class="microphone-button" onclick="startSpeakRecognition()"><ion-icon name="mic-outline"></ion-icon></button>
            </div>
            <div class="correct-answer"></div>
            <button class="next-word" onclick="ShowNextWord()">Next ></button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        const flashcards_table = {{ flashcards | tojson }};
        let speaking_answer;
        let correct_index;
        let index;
        document.addEventListener('keypress', CheckIfCorrect);
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const textField = document.querySelector('.answer-input')
        const recognition = new window.SpeechRecognition();
        recognition.interimResults = false; // if true it gives us results while talking and if false gives result after we finish talking
        recognition.lang = "es-ES";
        recognition.addEventListener('result', (e)=> {
            speaking_answer = e.results[0][0].transcript;
            document.querySelector('#spoken-text').textContent = speaking_answer;
            recognition.stop();
        });
        function startSpeakRecognition(){
            recognition.start();
        }
        function ShowNewWordToGuess(){
            index = Math.floor(Math.random() * flashcards_table.length);
            correct_index = flashcards_table[index][0];
            answer = flashcards_table[index][2];
            answer_lower = answer.toLowerCase();
            answer_without_signs = answer_lower.replace(/[¿?!¡]/g, "");
            document.querySelector('.word-card').textContent = flashcards_table[index][1];
            document.querySelector('.correct-answer').style.display = "none";
            document.querySelector('.correct-answer').textContent = "";
            document.querySelector('.next-word').style.display = "none";
            document.querySelector('#spoken-text').textContent = "";
            document.querySelector('.microphone-button').disabled = false;
            document.querySelector('#spoken-text').style.color = 'black';
        }
        function CheckIfCorrect(e){
            if (e.key === 'Enter') {
                const input = document.querySelector('#spoken-text').textContent;
                if( input.toLowerCase() === answer_without_signs){
                    document.querySelector('#spoken-text').style.color = 'green';
                    flashcards_table.splice(index, 1);
                    sendRequest();
                } else {
                    document.querySelector('#spoken-text').style.color = 'red';
                    document.querySelector('.correct-answer').style.display = "flex";
                    document.querySelector('.correct-answer').textContent = "Poprawna odpowiedź: " + answer;
                }
                document.querySelector('.next-word').style.display = "flex";
                document.querySelector('.microphone-button').disabled = true;
            }
        }
        function sendRequest(){
            $.ajax({
                url: '/set-speaking-true-' + correct_index,
            })
        }
        function ShowNextWord(){
            if(flashcards_table.length > 0){
                ShowNewWordToGuess();
            } else{
                document.querySelector(".word-card").style.display = "none";
                document.querySelector(".user-answer").style.display = "none";
                document.querySelector(".next-word").style.display = "none";
                document.querySelector(".flashcard-learn").innerHTML = "<button class='try-again-button' onclick='TryAgain()'>Sprobuj jeszcze raz</button>"
            }
        }
        function TryAgain(){
            window.location="/set-speaking-false-{{module_id}}";
        }

        function showInfo() {
            document.querySelector(".popup-background").style.display = "flex";
        }

        function closeInfo() {
            document.querySelector(".popup-background").style.display = "none";
        }

        if(flashcards_table.length > 0){
            ShowNewWordToGuess();
        } else{
            TryAgain()
        }
    </script>
</div>
{% endblock %}